html, body {
  height: 100%;
}

@font-face {
  font-family: 'iconfont';  /* project id 957689 */
  src: url('//at.alicdn.com/t/font_957689_rau7apgz4vb.eot');
  src: url('//at.alicdn.com/t/font_957689_rau7apgz4vb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_957689_rau7apgz4vb.woff') format('woff'),
  url('//at.alicdn.com/t/font_957689_rau7apgz4vb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_957689_rau7apgz4vb.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.open-logo:before { content: "\e600"; }

.flex-inline-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
